node_modules
**/node_modules

dist
coverage
*.tsbuildinfo

.DS_Store
.idea
.vscode
.trae

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

examples/react-demo/dist
examples/react-demo/node_modules
examples/react-demo/node_modules/.vite

src/ui/generated-styles.ts
